body {
    background-color: #E5E5E5;
    padding-bottom: 30px;
    font-family: 'Roboto', sans-serif;
}

.conteudo{
    display: flex;
    width: 1350px;
    margin: auto;
    justify-content: center;
}

header .barra-topo {
    width: 100%;
    margin: auto;
    background-color: #FFFFFF;
    display: flex;
    height: 54px;
    justify-content: center;
    position: fixed;
    z-index: 2;
}

.icone-instagram ion-icon {
    font-size: 19px;
    margin-top: calc(54px - 38px);
}

header img {
    height: 29px;
    margin-top: calc((54px - 29px) / 2 );
}

.separador-vertical {
    width: 1px;
    height: 22px;
    margin-top: 15px;
    background-color: #DBDBDBDB;
    margin-left: 15px;
    margin-right: 15px;
}

#divBusca {
    background-color: #FFFFFF;
    border:solid 1px;
    border-color: #DBDBDB;
    border-radius: 5px;
    width: 215px;
    height: 29px;
    vertical-align: middle;
    margin-left: 200px;
    margin-top: calc((54px - 29px) / 2 );
}

#txtBusca {
    float: left;
    background-color: transparent;
    font-size: 15px;
    border: none;
    height: 20px;
    width: 215px;
    padding-top: 5px;
    
}


#texBusca:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

#divBusca input {
    text-align: center;
}

header .icone-navegacao ion-icon {
    font-size: 19px;
    margin-top: calc((54px - 19px) / 2 );
    margin-left: 200px;
}

header .direct ion-icon {
    font-size: 21px;
    margin-left: 25px;
    margin-top: calc((54px - 21px) / 2 );
}

header .coracao ion-icon {
    font-size: 19px;
    margin-left: 25px;
    margin-top: calc((54px - 19px) / 2 );
}

header .profile ion-icon {
    font-size: 19px;
    margin-left: 25px;
    margin-top: calc((54px - 19px) / 2 );
}

.coluna-esquerda{
    display: block;
    justify-content: center;
    position: relative;
    right: 200px;
}

.coluna-direita {
    width: 30%;
    justify-content: center;
    margin-top: 100px;
    position: fixed;
    right: 200px;
    top: 0px
}
.coluna-direita-topo {
    width: 100%;
    justify-content: center;
}

.storyes {
    display: flex;
    justify-content: center;
    width: 565px;
    background-color: white;
    height: 118px;
    margin-right: 50px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-left: 50px;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 4px;
    margin-top: 100px;
    position: relative;
}

.storyes img {
    height: 65px;
    border-radius: 50%;
    max-width: 250px;
    background: linear-gradient(to right, rgb(255, 5, 80), rgb(255, 127, 7));
    padding: 3px;
}


.storyes .storye1 {
    margin-left: 8px;
    height: 65px;
    border-radius: 50%;
    background-color: tomato;
    margin-top: 15px;
}

.storye1 p {
    text-align: center;
    margin-right: 5px;
}

.coluna-direita-topo .ad {
    height: 118px;
    display: flex;
    align-items: center;
}

.ad img {
    height: 65px;
    border-radius: 50%;
}

.ad h1, h2 {
    padding-left: 25px;
    padding-bottom: 5px;
}

.ad h1 {
    font-size: 15px;
    font-weight: 600;
}

.mudar {
    position: absolute;
    width: 100%;
    left: 250px;
}
.mudar h3 {
    font-size: 12px;
    font-weight: 600;
    color: #1BA0F6;
    margin-left: 70px;
}

.middle {
    display: flex;
}

.sugestoes h1 {
    font-weight: 500;
    font-size: 15px;
    padding: 5px;
}

.ver-tudo h2 {
    color: #262626;
    font-weight: 500;
    font-size: 15px;
    margin-left: 130px;
}

.bottom {
    display: flex;
    position: relative;
}

.bottom-esquerdo {
    height: 30px;
    display: block;
    align-items: center;
    padding-top: 10px;
}

.bottom-esquerdo img {
    height: 40px;
    border-radius: 50%;
    padding: 10px;
}

.sugestoes h1{
    color: #8E8E8E;
}
.perfil-sugestao {
    display: flex;
}

.perfil-sugestao h1, h3 {
    margin-top: 10px;
    font-size: 12px;
}

.bottom .mudar h4 {
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 70px;
    font-size: 12px;
    font-weight: 600;
    color: #1BA0F6;
}

.guias {
    width: 100%;
    padding-left: 30px;
    padding-top: 20px;
}

.guias h5, h6 {
    color: #c7c7c7;
    text-decoration: plum;
    margin-top: 25px;
    font-size: 12px;
    width: 250px;
}

.posts {
    width: 614px;
    height: 850px;
    margin-top: 30px;
    background-color: white;
    margin-top: 50px;
    padding-left: 10px;
    padding-top: 10px;
}

.posts img {
    height: 614px;
}

.conteudo-post img {
    height: 60px;
    border-radius: 50%;
}

.conteudo-post {
    display: flex;
    height: 70px;
    margin: auto;
}

.conteudo-post h1 {
    margin: auto 10px;
}

.three-icons ion-icon {
    font-size: 20px;
    margin-top: 20px;
    margin-left: 20px;
}

.three-icons {
    display: flex;
}

.favorite-icon {
    margin-left: 400px;
}

.curtido-por {
    display: flex;
}

.curtido-por span {
    margin-top: 15px;
    margin-left: 15px;
    font-weight: 400;
    
}

.curtido-por strong {
    font-weight: 600;
}

.curtido-por img {
    height: 30px;
    border-radius: 50%;
    margin-left: 30px;
    margin-top: 10px;
}

.barra-bottom {
    width: 100%;
    margin: auto;
    background-color: #FFFFFF;
    display: flex;
    height: 54px;
    justify-content: space-between;
    padding-left: 30px;
    align-items: center;
    position: fixed;
    z-index: 1;
    bottom: 0px;
}

.barra-bottom ion-icon {
    font-size: 19px;
}

.seta  {
    z-index: 1;
    position: absolute;
    right: 0px;
    margin-top: 45px;
}

.seta ion-icon {
    font-size: 30px;
    color: white;
    font-weight: 700;
}

/* ---- media query ---- */

@media (max-width: 935px ) {
    .coluna-direita {
    display: none;
    }
    .coluna-esquerda {
        display:inline-block;
        align-content: center;
        justify-content: center;
        margin: auto;
    }
}

@media (max-width: 614px) {
    .coluna-direita {
    display: none;
    }
    .coluna-esquerda {
        width: 614px;
        right: 400px;
        padding-left: 50px;
    }
    .posts {
        width: 100%;
    }
}

@media (min-width: 614px) {
    .barra-bottom {
    display: none;
    }
}